/* COMMON */

img {
    width: 100%;
}

html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.ms-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}

.ms-btn {
    border-radius: 2rem;
}

/* HEADER */

/* HEADER TOP */
.ms-black {
    background-color: black;
}

.ms-black img {
    height: 1rem;
    width: auto;
    margin: 1rem;
}

/* HEADER BOTTOM */
.navbar-light .navbar-nav .nav-link {
    color: black;
}

/* DROPDOWN MENU */
.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle img {
    width: 10px;
    height: auto;
}

.d-flex img {
    height: 5rem;
    width: auto;
    display: block;
    margin: 0 auto;
}

.dropdown-menu[data-bs-popper] {
    right: 0;
    margin-top: 0;
}

.nav-item.dropdown {
    position: initial;
}

.nav-link:focus img {
    transform: rotate(180deg);
    transition: .2s;
}

.ms-nright .dropdown-menu {
    width: 100vw;
}

.ms-item {
    list-style: none;
}

.ms-item a {
    text-decoration: none;
    color: inherit;
}

.ms-ditem a {
    text-decoration: none;
    color: inherit;
}

/* MAIN */

.ms-mt-50 {
    margin-top: 130px;
}

/* JUMBOTRON */

.jumbotron {
    height: 70vh;
    margin-top: 130px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    color: white;
    position: relative;
    margin-bottom: 3rem;
}

.ms-jumbo-content {
    position: absolute;
    left: 2rem;
    bottom: 4rem;
}

/* JUMBOTRON GAMES */

.ms-jumbotron-games {
    margin-bottom: 3rem;
}

.ms-jumbotron-games img {
    border-radius: 1rem;
}

.ms-jgames {
    position: relative;
}

/* ANIMATION HOVER JUMBOTRON GAMES */

.ms-jgames:hover {
    animation: msmove 5s infinite;
}

.ms-border-img:hover {
    border: 3px solid #0072ce;
}

@keyframes msmove {
    0%   {bottom: 0px;}
    50%  {bottom: 20px;}
    100% {bottom: 0px;}
}

/* PS5 */

.ms-ps5img {
    width: 70%;
    margin: 0 auto;
}

.ms-card {
    border-color: white;
}

.ps5 .ms-card:hover {
    border-bottom: 3px solid #0072ce;
}

/* BANNER */

.banner {
    height: 90vh;
    margin-top: 130px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    color: white;
    position: relative;
}

.ms-banner-content {
    position: absolute;
    left: 2rem;
    bottom: 4rem;
}

/* RELEASE */

.ms-release .card {
    background-color: #1f1f1f;
}

.ms-rounded {
    border-radius: 2rem;
}

.ms-release {
    color: white;
    background-color: #1f1f1f;
}

.ms-release .card:hover {
    border: 3px solid #0072ce;
    border-radius: 2rem;
}

/* PLUS */

.ms-plus {
    background-color: #bebcbb;
}

.ms-btn-plus {
    background-color: #d9dadc;
    color: #0072ce;
    font-weight: bold;
}

/* NOW */

.ms-now {
    background-color: #161c3b;
    color: white;
}

/* FOOTER */
footer {
    background-color: #00439c;
    color: white;
    font-size: .8rem;
}

.play-logo-footer {
    width: 8rem;
}

.globe {
    width: 1.1rem;
}

.sony-logo-footer {
    height: 4rem;
    width: auto;
}

.col ul{
    list-style: none;
    color: inherit;
}

.col a {
    text-decoration: none;
    color: white;
}

.ms-underline {
    text-decoration: underline;
    color: white;
}
